<title>Editar solicitud</title>
<div class="container">
  <h3 class="text-center"><strong>EDITAR</strong></h3>
  <%= render 'form', request: @request %>
  <%= link_to 'Volver', requests_path, class:"button alt" %>

</div>