<div class="container">
  <h3 class="text-center"><strong>Editar solicitud</strong></h3>

  <%= render 'form', request: @request %>

  <%= link_to 'Show', @request, class:"button alt" %> 
  <%= link_to 'Back', requests_path, class:"button alt" %>

</div>