<h1>Registro</h1>
	<ul class="actions special">
    <li><%= link_to "Registrate como solicitante ", new_user_registration_path, class:"button alt" %></li>
    </li><%= link_to "Registrate como conductor", new_driver_registration_path, class:"button alt" %></li>
</ul>